<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10 Creamcups.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,516},{79,73}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{79,73}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>10 Pavlova.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,278},{61,77}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>1346351508_Bicycle_by_Artdesigner.lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,656},{80,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1346351511_Building_by_Artdesigner.lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,738},{102,126}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1346352485_teddy_bear_toy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,408},{128,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1346352485_teddy_bear_toy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,278},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1346352486_teddy_bear_toy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,534},{128,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BUY.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,260},{96,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{96,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>Category_Title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,703},{66,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{66,24}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,123},{207,119}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{207,119}}</string>
                <key>sourceSize</key>
                <string>{215,119}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{721,5}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{721,5}}</string>
                <key>sourceSize</key>
                <string>{735,175}</string>
            </dict>
            <key>chocolate_cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,668},{100,84}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cream_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,597},{68,80}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{68,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equip_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,244},{196,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{196,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>equipped_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,200},{196,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{196,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>fruit_cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,526},{86,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>get_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{253,119}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,119}}</string>
                <key>sourceSize</key>
                <string>{265,119}</string>
            </dict>
            <key>img_direct.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>muffin.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,432},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>muffins01.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{58,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>muffins02.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,123},{75,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{75,43}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>muffins03.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,408},{90,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{90,46}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>muffins04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,456},{88,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{88,68}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>no_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,358},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>pavlova.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,600},{66,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>progress bar-level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,679},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>progress bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,729},{344,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,25}}</string>
                <key>sourceSize</key>
                <string>{344,25}</string>
            </dict>
            <key>right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,944},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>right_bg_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,842},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soomla_logo_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,341},{76,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{76,89}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>upgrade button.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,62},{196,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{196,32}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93983f55462b4f2d7cdc6e9fc570eee1:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
